body {
  background-image: url("https://i.ytimg.com/vi/DBhs676nka4/maxresdefault.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;    
  background-attachment: fixed; 
  color: #00aa00; 
  font-family: sans-serif; 
  padding: 20px;
  cursor: url('jpg.cur'), auto; 
}
.content-box {max-width: 800px;margin: 0 auto;background-color: rgba(255, 255, 255, 0.85); padding: 30px; border-radius: 12px; box-shadow: 0 8px 16px rgba(0,0,0,0.5);}

 h1{color: #000000; margin-top: 20px;}
p { line-height: 1.6; font-size: 16px;}

html { scroll-behavior: smooth; }

.sami-text {color: #0066cc; } .alien-text {color: #00aa00; }

.project-section { padding-top: 40px; margin-bottom: 40px; border-top: 1px dashed #cccccc; }
.project-section:first-of-type { border-top: none; padding-top: 0; }
